body {
  background: linear-gradient(#ff7f50 50%, #ff7f50 50%);
}

.head {
  color: darkblue;
}

#bglime {
  background-color: rgb(42, 83, 134);
}

#bglime.head {
  color: red;
}
p {
  color: white;
}
#para {
  color: green;
}

p span {
  color: black;
  font-size: 24px;
}

ul li:nth-child(2) a {
  background-color: rgb(152, 152, 223);
}
